/* eslint-disable */
module.exports = function () {
var Icons = {
  {{ range . }}
  "{{ .Name }}": '{{ .Value }}',
  {{ end }}
}

function plugin(UIkit) {
  if (plugin.installed) {
      return;
  }
  UIkit.icon.add(Icons);
}

if (typeof window !== 'undefined' && window.UIkit) {
  window.UIkit.use(plugin);
}

return plugin;
}();
